<%if(posts){%> <% for(let post of posts){ %> <% let liked = false %> <% for(let
like of post.likes){ %> <% if(like.user == locals.user.id){%> <% liked = true;%>
<%}%> <%}%>
<div id="post-<%=post.id%>" class="post-display">
  <div class="content">
    <p><%= post.content %></p>
  </div>
  <div class="post-info">
    <div class="post-date">
      <small><%=filterDate(post.createdAt)%></small>
    </div>
    <div class="post-user">
      <small
        ><b>User:&nbsp;</b>
        <%if(post.user.id!=locals.user.id){%>
        <a href="/users/profile/?userID=<%=post.user.id%>"
          ><%=post.user.name%></a
        >
        <%}else{%> <%=post.user.name%> <%}%>
      </small>
    </div>
  </div>
  <div class="likes">
    <form class="like-form">
      <input type="hidden" name="type" value="Post" />
      <input type="hidden" name="id" value="<%= post._id %>" />
      <button class="like-button" type="submit">
        <i class="fa-solid fa-heart <%= liked?'liked':'' %>"></i>
      </button>
    </form>
    <div><span class="num-likes"><%= post.likes.length %></span> likes</div>
  </div>
  <%-include('_comment',{post})-%> <%if(post.user.id==locals.user.id){ %>
  <form class="delete-post" action="/posts/delete" method="post">
    <input type="hidden" name="postID" value="<%= post._id %>" />
    <input class="delete-btn" type="submit" value="delete" />
  </form>
  <%}%>
</div>

<%}%> <%}%>
