<%if(posts){%> <% for(let post of posts){ %>
<div id="post-<%=post.id%>" class="post-display">
  <div class="content">
    <p><%= post.content %></p>
  </div>
  <div class="post-info">
    <div class="post-date">
      <small><%=filterDate(post.createdAt)%></small>
    </div>
    <div class="post-user">
      <small
        ><b>User:&nbsp;</b>
        <%if(post.user.id!=locals.user.id){%>
        <a href="/users/profile/?userID=<%=post.user.id%>"
          ><%=post.user.name%></a
        >
        <%}else{%> <%=post.user.name%> <%}%>
      </small>
    </div>
  </div>
  <%-include('_comment',{post})-%> <%if(post.user.id==locals.user.id){ %>
  <form class="delete-post" action="/posts/delete" method="post">
    <input type="hidden" name="postID" value="<%= post._id %>" />
    <input class="delete-btn" type="submit" value="delete" />
  </form>
  <%}%>
</div>

<%}%> <%}%>
